# configs/task/structure_train.yaml
name: "structure_alignment"
type: "structure"

strategy:
  text_mode: "structure_phase2"
  pseudo_threshold: 0.95

sbert_checkpoint: "checkpoints/sbert_mixed_round5"

model:
  name: "decoupled_model"
  encoder_name: "gat"   # 保持 GAT
  gcn_dim: 300
  gcn_hidden: 600
  dropout: 0.3

federated:
  rounds: 10
  local_epochs: 100
  batch_size: 512       # 大 Batch 适配 InfoNCE
  lr: 5e-4
  
  # [优化机制]
  temperature: 0.07     # InfoNCE 温度
  
  # [新增] 课程学习阈值
  # 只有当 Structure 和 SBERT 的本地余弦相似度 > 0.7 时，才开启伪标签挖掘
  curriculum_thresh: 0.70 

eval:
  alpha: 0.42

checkpoint:
  save_dir: "checkpoints/"
  save_best: true